<h1>All Pages</h1>

<% @pages.each do |page| %>
  <ul>
    <li>
      <p>
        <%= link_to page.name, page_path(page) %>
        (Title: <%= page.title %>)
      </p>
      <%= link_to 'Edit', edit_page_path(page) %>
      <%= link_to 'Destroy', page_path(page),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>