<h1>All Pages</h1>

<% @pages.each do |page| %>
  <ul>
    <li>
      <p>
        <%= link_to page.name, page.local_path %>
        (Title: <%= page.title %>)
      </p>
      <%= render partial: 'actions', locals: {page: page} %>
    </li>
  </ul>
<% end %>