body {
  font-family: sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
}

div { 
  margin: 0.5em;
}

input[type="submit"] {
  margin: 1em 0;
}

.small { font-size: 0.8em; }
.content { margin: 0 1em; }
.float-right { float: right; }
.float-left { float: left; }
.page { margin: 0.2em; }
.bold { font-weight: bold; }
.required:after {
  font-size: 0.9em;
  content: ' *';
}
.field_error {
  font-size: 0.9em;
  color: red;
}
.field_with_errors { 
  display: inline-block; 
  margin: 0;
}
.field_with_errors input, .field_with_errors textarea {
  border: 1px solid red;
}
.notice, .tree_notice {
  margin: 0;
  padding: 0.3em;
  display: none;
  text-align: center;
}
.success { background-color: #0f0; }
.error { background-color: #f00; }
.ok { color: green; }
.warning { color: red; }
.radio_label { margin-right: 10px; }
.hidden { display: none; }

.page_options b { cursor: pointer;}
.open:after { content: " + "; }
.close:after { content: " - "; }