.searchResult {
  font-size: small;
  font-family: arial,sans-serif;
  width: 512px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.searchResult div {
  margin: 0;
}

.searchResult .big-link {
  color: #1a0dab;
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}

.searchResult .big-link span {
  text-decoration: none;
  cursor: pointer;
}

.searchResult .big-link span:hover {
  text-decoration: underline;
}

.searchResult .big-link a:visited {
  color: #609;
}

.searchResult .bold {
  font-weight: bold;
}

.searchResult .info {
  line-height: 18px;
}

.searchResult .url {
  font-size: 13px;
  line-height: 16px;
}

.searchResult .green {
  color: #006621;
  font-style: normal;
}

.searchResult .metadesc {
  color: #545454;
}