<h2>Google Live Preview</h2>

<div>
  <h3 class="big-link">
    <span>Preview Link</span>
  </h3>
  <div class="info">
    <div>
      <div>
        <cite class="url green">www.previewurl.com</cite>
      </div>
    </div>
    <span class="metadesc">This is the meta description for this page</span>
  </div>
</div>
